<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Panel</title>
	<meta name="viewport" content="user-scalable=no, width=device-width">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
	<!-- <nav class="navbar navbar-default"> -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Bot Admin</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse"></div>
		</div>
	</nav>


	<div class="container" id="container">

		<!-- <hr> -->

		<section id="settings"></section>

		<!-- <hr> -->

	</div>

<script type="text/javascript" src="assets/js/api.js"></script>
<script type="text/javascript" src="assets/js/Components.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>